<?xml version="1.0" encoding="UTF-8"?>
<!-- 환경설정 파일은 WEB-INF 위치에 둬야함! 다른 곳에 놔두면 다른 사용자가 접근할 수 있음. -->

<!-- 최상위 web-app -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>servletExample</display-name>
  
  <!-- 시작 페이지를 만드는 설정 : 시작 페이지에 index.html을 설정해놓으면 사용자가 URL 주소에 index.html을 입력하지 않아도 됨. 
  시작페이지로 쓸 것만 사용하면 됨. 나머지는 지워도됨. -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- 매핑정보 -->
  <servlet>
    <servlet-name>firstServlet</servlet-name>
    <servlet-class>com.example.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstServlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>calcServlet2</servlet-name>
  	<servlet-class>com.example.CalcServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>calcServlet2</servlet-name>
  	<url-pattern>/calcServlet2</url-pattern>
  </servlet-mapping>
  
  <!-- 파라미터 값 설정 : 매개변수로 사용할 초기 파라미터 값 설정 -->
  <!-- 파라미터 이름과 파라미터 값을 설정해야함 -->
  <context-param>
  	<param-name>menu_member</param-name>
  	<param-value>회원등록 회원조회 회원수정</param-value>
  </context-param>
  <context-param>
  	<param-name>menu_order</param-name>
  	<param-value>주문조회 주문등록 주문수정 주문취소</param-value>
  </context-param>
  <context-param>
  	<param-name>menu_goods</param-name>
  	<param-value>상품조회 상품등록 상품수정 상품삭제</param-value>
  </context-param>
<!--   
  <servlet>
  	<servlet-name>servletConfigTest</servlet-name>
  	<servlet-class>com.config.ServletConfigTestServlet</servlet-class>
	<init-param>
		<param-name>charset</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servletConfigTest</servlet-name>
  	<url-pattern>/configTest</url-pattern>
  </servlet-mapping>
-->

<!--  -->  
	<servlet>
		<servlet-name>loadConfig</servlet-name>
		<servlet-class>com.config.LoadAppConfig</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>loadConfig</servlet-name>
		<url-pattern>/loadConfig</url-pattern>
	</servlet-mapping>
	

  
</web-app>